include includes/mixins

doctype html
html(lang='en')
    head
        - const currDate = new Date().toISOString().slice(0,10).replace(/-/g,"")
        - const dob = 19921106
        - const exp = 20140700
        - const author = "Jinu Kurian"
        - const metaTitle = "Jinu Kurian | Senior UI Developer"
        - const metaDesc = `Creative UI Developer based in Kochi with ${Math.round((currDate - dob) * 0.0001)} years of solid experience in UI development. Skilled in HTML5,CSS3, SASS, jQuery, GSAP animations, WordPress, Barba.js, Page speed optimisations, HTML Emails templates and more.`

        title #{metaTitle}
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="Description" content= metaDesc)
        meta(name="keywords" content='')
        link(rel="canonical" href='https://jinukurian7.github.io/')

        //- Social Media Tags
        meta(property='og:locale' content='en_US')
        meta(property='og:type' content='website')
        meta(property='og:title' content= metaTitle)
        meta(name='author' content='Jinu Kurian')
        meta(property='og:url' content='index.html')
        meta(property='og:image' name='image' content='images/meta.jpg')
        meta(property='og:image:secure_url' content='images/meta.jpg')
        meta(property='og:image:type' content='image/jpeg')
        meta(property='og:image:width' content='300')
        meta(property='og:image:height' content='300')
        meta(property='og:site_name' content='Jinu Kurian')
        meta(property='og:description' content= metaDesc)
        meta(name='twitter:card' content='summary')

        //- favicon
        link(rel='apple-touch-icon' sizes='180x180' href='images/icons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='images/icons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='images/icons/favicon-16x16.png')
        link(rel='manifest' href='images/icons/site.webmanifest')
        link(rel='mask-icon' href='images/icons/safari-pinned-tab.svg' color='#5bbad5')
        meta(name='msapplication-TileColor' content='#00aba9')
        meta(name='theme-color' content='#ffffff')

        //- Main style
        link(rel="stylesheet" href="css/style.min.css")
    body
        include includes/header
        #main-wrapper
            section.hero-section
                figure.hero(style="background-image: url(images/banner.jpg)")
            
            #main-content
                section#about.section.section-about
                    .container
                        .section-box
                            .profile
                                .row
                                    .grid-sm-4
                                        .profile-photo
                                            img(src='images/jinukurian.jpg' alt='Jinu Kurian')
                                    .grid-sm-8
                                        .profile-info
                                            .profile-preword
                                                span Hello
                                            h1.profile-title
                                                span I'm
                                                em Jinu Kurian
                                            h2.profile-position Senior UI Developer
                                        ul.profile-list
                                            +about('age', `${Math.round((currDate - dob) * 0.0001)}`)
                                            +about('Address', 'Panakkattu(H), Kandanad, Ernakulam, Kerala')
                                            +about('E-mail', 'jinukurian7@gmail.com', 'mailto:jinukurian7@gmail.com')
                                            +about('Phone', '+91 8891280830', 'tel:+918891280830')
                                            +about('Experiece', `${Math.round((currDate - exp) * 0.0001)}+ years`)
                            
                            .profile-social
                                ul.social
                                    +social('https://twitter.com/Jinukurian7', 'twitter')
                                    +social('https://www.linkedin.com/in/jinukurian7/', 'linkedin')
                                    +social('https://github.com/Jinukurian7', 'github')
                                    +social('http://stackoverflow.com/users/4947434/jinu-kurian', 'stack-overflow')
                                    +social('https://codepen.io/jinukurian7', 'codepen')
                        .section-txt-btn
                            p
                                a(class="btn btn-primary" target="_blank" href="files/Jinu-resume.pdf" alt="Download Resume") Download Resume

                section.section.about-me
                    .container
                        h2.section-title About Me
                        blockquote
                            p Hello! I’m Jinu Kurian. UI Developer with 3 year experience in structuring, developing and implementing interactive websites.Able to complete projects efficiently and satisfy clients with attractive, user friendly websites. I'm hard working, self-motivated and a dedicated guy, love to expolre, big hunger for new knowledge. I love to inspire other people around me get insired by them. Optimist for life
                		
                section#skills.section.section-skills
                    .container
                        h2.section-title Professional Skills
                        .section-box.skill-box
                            .row
                                +skills('HTML', '90%')
                                +skills('Javascript', '60%')
                                +skills('SCSS', '90%')
                                +skills('WordPress', '80%')
                                +skills('Webflow', '70%')
                                +skills('Pug', '75%')
                                +skills('Photoshop', '90%')
                                +skills('Illustrator', '70%')
                                +skills('Sketch', '80%')
                                +skills('Figma', '90%')

                section#experience.section.section-experience
                    .container
                        h2.section-title Work Experience
                        .timeline
                            .timeline-inner
                                +timeline("2021 November - Present", "KeyValue Software Systems Pvt Ltd", "Senior UI Engineer", "Responsible for applying interactive and visual design principles on websites and web applications for a positive and cohesive user experience.")
                                +timeline("2017 October - 2021 November", "White Rabbit Group", "Senior UI Developer", "Creating web application front end as per design comps and information architecture by following best practices and standards for accessibility and cross browser compatibility.")
                                +timeline("2015 May - 2017 October", "Phases India Technology Pvt. Ltd", "Associate UI developer", "Combine the art of design with the art of programming. Responsibilities will include translation of the UI/UX design wireframes to actual code that will produce visual elements of the application.")
                                +timeline("2014 June - 2015 May", "QPlayTech Pvt. Ltd", "UI/UX Designer and Developer", "Developing well-thought-out user experience flows and designing and developing interfaces for websites that provide the best possible user experience.")

                section#education.section.section-education
                    .container
                        h2.section-title Education
                        .timeline
                            .timeline-inner
                                +timeline("2010 - 2014", "B.Tech - Information Technology", "TocH Institute of Science & Technology (CUSAT)")
                                +timeline("2008 - 2010", "Higher Secondary", "St: Ignatius H.S.S, Kanjiramattom")
                                +timeline("2003 - 2008", "High School", "St: Mary's H.S, Kandanad")
                
                section#interests.section.section-interests
                    .container
                        h2.section-title My Interests
                        .section-box
                            p
                                | I have a keen interest in football. I play attacking mid or winger.
                                | Like to surf in internet and learn/discover new stuffs thats happening around.
                                | Like to solve puzzles,crosswords,sudoku etc.
                                | love to play chess and was a champion in a competition held by our local club :p.
                                | I also like volunteering social activities.
                            ul.interests-list
                                li
                                    i.gnu-icon.gnu-icon-art
                                    span Penicil Drawing
                                li
                                    i.gnu-icon.gnu-icon-movie
                                    span Watch Movies
                                li
                                    i.gnu-icon.gnu-icon-coffee
                                    span Coffee
                                li
                                    i.gnu-icon.gnu-icon-travelling
                                    span Travelling
                                li
                                    i.gnu-icon.gnu-icon-football
                                    span Playing Football
                                li
                                    i.gnu-icon.gnu-icon-badminton
                                    span Badminton
                                li
                                    i.gnu-icon.gnu-icon-fitness
                                    span Fitness


        include includes/footer